<!-- personas/templates/excluir_personas.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Excluir Personas</title>
</head>
<body>
    <h1>Excluir Personas</h1>
    <form method="post">
        {% csrf_token %}
        Ciudad: <input type="text" name="ciudad"><br>
        <input type="submit" value="Excluir">
    </form>
    <nav>
        <ul>
            <li><a href="{% url 'listar_personas' %}">Listar Personas</a></li>
            <li><a href="{% url 'crear_persona' %}">Crear Persona</a></li>
            <li><a href="{% url 'filtrar_personas' %}">Filtrar Personas</a></li>
            <li><a href="{% url 'excluir_personas' %}">Excluir Personas</a></li>
            <li><a href="{% url 'ordenar_personas' %}">Ordenar Personas</a></li>
        </ul>
    </nav>
</body>
</html>
